:root {
    --coral: #f05d5e;
    --teal: #0f7173;
    --light: #e7ecef;
    --dark: #272932;
    --camel: #d8a47f;
}

body {
    font-family: "Shantell Sans", cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.card-container {
    display: flex;
    flex-wrap: wrap;

    border: var(--coral);
    border-style: solid;

    /* min-width: 700px; */
}

.card {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 250px;
    /* max-width: 250px; */
    padding: 10px;
    margin: 10px;
    border: var(--coral);
    border-style: solid;
}

img {
    width: 250px;
}

@media only screen and (max-width: 700px) {
    body {
        background-color: var(--light);
    }
    h1 {
        font-size: 2.25rem;
    }
    p {
        font-size: 0.75rem;
    }
    img {
        display: none;
    }
    ul {
        width: 40%;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    body {
        background-color: var(--teal);
    }
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1rem;
    }
    img {
        display: block;
    }
    ul {
        width: 60%;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        background-color: var(--camel);
    }
    h1 {
        font-size: 2.8rem;
    }
    p {
        font-size: 1.2rem;
    }
    img {
        display: block;
    }
    li {
        float: left;
    }
    li a {
        text-align: center;
        font-size: 1.5rem;
    }
}

/* @media only screen and (orientation: landscape) {
    body {
        background-color: red;
    }
} */

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: #ffffff;
    }
}
